{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

  {% for user in user %}
  {% if app.request.get('id') == user.id %}
  {{ user.username }}
  {{ user.email }}
  {% endif %}
  {% endfor %}
  <br><br><br>


Abonnées

{% for nbAbonne in follower %}
{% if nbAbonne.receptionFriend.id == app.request.get('id') %}
<br>
- {{ nbAbonne.envoieFriend.username }}
<br>
{% endif %}
{% endfor %}

<br><br>

 Abonnement
<br>
{% for abonnement in follower %}
{% if abonnement.envoieFriend.id == app.request.get('id') %}
<br>
- {{ abonnement.receptionFriend.username }}
<br>
{% endif %}
{% endfor %}


{% for friends in friend if friends.envoieFriend.id == app.user.id %}

<a href="{{ path('addfriend_show', { 'id1': app.user.id,  'user1':app.user, 'id': friends.id}) }}">ne plus suivre</a>


{% else %}
{% if  app.request.get('id') != app.user.id %}
  {{ form_start(formAddFriend) }}
  {{ form_widget(formAddFriend) }}
  <input type="submit" value="suivre" />
  {{ form_end(formAddFriend) }}
{% endif %}
{% endfor %}



  {% for statut in posts %}

  {% if app.request.get('id') == statut.user.id %}

  <br><br><br>


  <br><br><br>

  <article>

    <a href="{{ path('fos_user_profile_show', {'id': statut.user.id, 'user': statut.user })}}">

      {% if statut.user.imageName is empty %}
      <img src="{{ asset('images/user_icon_default_social.jpg/') }}" alt="" class="avatarUser" />
      {% else %}
      <img src="{{ asset('images/UserProfile/')~ statut.user.imageName }}" alt="" class="avatarUser" />
      {% endif %}

      {{ statut.user }} </a>

    <br>
    {{ statut.statut }}
    <br>
    {% if statut.imageName is empty %}
    {% else %}
    <img src="{{ asset('images/UserPost/')~ statut.imageName }}" alt="" class="img-responsive" />
    {% endif %}

    <br>

    {% for like in statut.like %}
    {% if app.user.id == like.id  %}
    <a class="likePost" id="{{statut.id}}"><span class="removeLike2">J'aime plus</span><span class="addLike2 hidden">J'aime</span></a>
    <span id="post{{statut.id}}"> {{statut.like|length}} </span>

    {% endif %}
    {% endfor %}

    {% for like in statut.like if app.user.id == like.id %}
    {% else %}

    <a class="likePost" id="{{statut.id}}"><span class="addLike">J'aime</span><span class="removeLike hidden">J'aime plus</span></a>
    <span id="post{{statut.id}}"> {{statut.like|length}} </span>

    {% endfor %}

    <a href="{{ path('post_show', { 'id': statut.id }) }}">Commenter</a>

    <br><br>

    {% for comment in statut.commentaire|slice(0, 1) if comment is not empty %}
    <strong>Dernier commentaire</strong>
    {% endfor %}
    <br>
    {% for comment in statut.commentaire|slice(0, 5) if comment is not empty %}

    <a href="{{ path('fos_user_profile_show', {'id': comment.user.id, 'user': comment.user })}}">

      {% if comment.user.imageName is empty %}
      <img src="{{ asset('images/user_icon_default_social.jpg/') }}" alt="" class="avatarUser" />
      {% else %}
      <img src="{{ asset('images/UserProfile/')~ comment.user.imageName }}" alt="" class="avatarUser" />
      {% endif %}

      {{ comment.user }} </a>

      <br>
      {{ comment.commentaire }}
      <br><br>

      {% else %}
      aucun commentaire
      {% endfor %}

  </article>

{% endif %}

{% endfor %}

<br><br><br>

{% if app.user.id == app.request.get('id') %}

<a href="{{path('fos_user_change_password', {'id': app.user.id, 'user': app.user })}}">Modifier mot de passe</a> | <a href="{{path('fos_user_profile_edit', {'id': app.user.id, 'user': app.user })}}">Modifier compte</a>

{% endif %}

</div>
