{% extends "base.html.twig" %}

{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 ui-widget">

        {{ form_start(formSearch) }}
        {{ form_widget(formSearch) }}
        <input type="submit" value="Rechercher" />
        {{ form_end(formSearch) }}
      </div>


      <div class="col-md-6">
        {{ form_start(formPost) }}
        {{ form_widget(formPost) }}
        <input type="submit" value="Create" />
        {{ form_end(formPost) }}



        {% for statut in posts|reverse|slice(0,1) %}
        <br><br><br>
        <h3 class="text-center">Mon dernier post</h3>
        <br><br>
        <article>
          <a href="{{ path('fos_user_profile_show', {'id': statut.user.id, 'user': statut.user })}}">

            {% if statut.user.imageName is empty %}
            <img src="{{ asset('images/user_icon_default_social.jpg/') }}" alt="" class="avatarUser" />
            {% else %}
            <img src="{{ asset('images/UserProfile/')~ statut.user.imageName }}" alt="" class="avatarUser" />
            {% endif %}

            {{ statut.user }} </a>
            <br>
            {{ statut.statut }}
            <br>
            {% if statut.imageName is not empty %}
            <img src="{{ asset('images/UserPost/')~ statut.imageName }}" alt="" class="img-responsive" />
            {% endif %}

            <br>

            {% for like in statut.like %}
            {% if app.user.id == like.id  %}
            <a class="likePost" id="{{statut.id}}"><span class="removeLike2">J'aime plus</span><span class="addLike2 hidden">J'aime</span></a>
            <span id="post{{statut.id}}"> {{statut.like|length}} </span>

            {% endif %}
            {% endfor %}

            {% for like in statut.like if app.user.id == like.id %}
            {% else %}

            <a class="likePost" id="{{statut.id}}"><span class="addLike">J'aime</span><span class="removeLike hidden">J'aime plus</span></a>
            <span id="post{{statut.id}}"> {{statut.like|length}} </span>

            {% endfor %}

            <a href="{{ path('post_show', { 'id': statut.id }) }}">Commenter</a>

            <br><br>

            {% for comment in statut.commentaire|slice(0, 1) if comment is not empty %}
            <strong>Dernier commentaire</strong>
            {% endfor %}
            <br>
            {% for comment in statut.commentaire|slice(0, 5) if comment is not empty %}

            <a href="{{ path('fos_user_profile_show', {'id': comment.user.id, 'user': comment.user })}}">

              {% if comment.user.imageName is empty %}
              <img src="{{ asset('images/user_icon_default_social.jpg/') }}" alt="" class="avatarUser" />
              {% else %}
              <img src="{{ asset('images/UserProfile/')~ comment.user.imageName }}" alt="" class="avatarUser" />
              {% endif %}

              {{ comment.user }} </a>

              <br>
              {{ comment.commentaire }}
              <br><br>

              {% else %}
              aucun commentaire
              {% endfor %}
            </article>
            <hr>
            {% endfor %}



            <br><br>
            <h3 class="text-center">Fil d'actualité</h3>

            {% for actualite in actualites %}
            {% if app.user.id == actualite.envoieFriend.id %}
            {% for fil in actualite.receptionFriend.statut %}

            <br><br><br>

            <article>
              <a href="{{ path('fos_user_profile_show', {'id': fil.user.id, 'user': fil.user })}}">

                {% if fil.user.imageName is empty %}
                <img src="{{ asset('images/user_icon_default_social.jpg/') }}" alt="" class="avatarUser" />
                {% else %}
                <img src="{{ asset('images/UserProfile/')~ fil.user.imageName }}" alt="" class="avatarUser" />
                {% endif %}

                {{ fil.user }} </a>
                <br>
                {{ fil.statut }}
                <br>

                {% if fil.imageName is empty %}
                {% else %}
                <img src="{{ asset('images/UserPost/')~ fil.imageName }}" alt="" class="img-responsive" />
                {% endif %}
                <br>

                {% for like in fil.like %}
                {% if app.user.id == like.id  %}
                <a class="likePost" id="{{fil.id}}"><span class="removeLike2">J'aime plus</span><span class="addLike2 hidden">J'aime</span></a>
                <span id="post{{fil.id}}"> {{fil.like|length}} </span>
                {% endif %}
                {% endfor %}

                {% for like in fil.like if app.user.id == like.id %}
                {% else %}
                <a class="likePost" id="{{fil.id}}"><span class="addLike">J'aime</span><span class="removeLike hidden">J'aime plus</span></a>
                <span id="post{{fil.id}}"> {{fil.like|length}} </span>
                {% endfor %}

                <a href="{{ path('post_show', { 'id': fil.id }) }}">Commenter</a>
                <br><br>

                {% for comment in fil.commentaire|slice(0, 1) if comment is not empty %}
                <strong>Dernier commentaire</strong>
                {% endfor %}
                <br>
                {% for comment in fil.commentaire|slice(0, 5) if comment is not empty %}

                <a href="{{ path('fos_user_profile_show', {'id': comment.user.id, 'user': comment.user })}}">

                  {% if comment.user.imageName is empty %}
                  <img src="{{ asset('images/user_icon_default_social.jpg/') }}" alt="" class="avatarUser" />
                  {% else %}
                  <img src="{{ asset('images/UserProfile/')~ comment.user.imageName }}" alt="" class="avatarUser" />
                  {% endif %}

                  {{ comment.user }} </a>

                  <br>
                  {{ comment.commentaire }}
                  <br><br>

                  {% else %}
                  aucun commentaire
                  {% endfor %}
                </article>
                <hr>
                {% endfor %}
                {% endif %}
                {% endfor %}



              </div>
              <div class="col-md-3">
                <h3>Les Dernier Inscrit</h3>
                {% for user in allUser|reverse|slice(0,5) %}

                <a href="{{ path('fos_user_profile_show', {'id': user.id, 'user': user.username })}}">

                  {% if user.imageName is empty %}
                  <img src="{{ asset('images/user_icon_default_social.jpg/') }}" alt="" class="avatarUser" />
                  {% else %}
                  <img src="{{ asset('images/UserProfile/')~ user.imageName }}" alt="" class="avatarUser" />
                  {% endif %}

                  {{ user.username }} </a>
                  <br><br>

                  {% endfor %}
                </div>
              </div>
            </div>
          </section>

          {% else %}
          <section>
            <div class="container">
              <div class="row">
                <div class="col-md-6">

                </div>

                <div class="col-md-6">
                  {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                </div>

              </div>
            </div>
          </section>
          {% endif %}

          {% endblock body %}

          {% block searchUser %}
          <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
          <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
          <script type="text/javascript">
          $( function() {
            var availableTags = [
              {% for item in allUser %}
              "{{ item.username }}",
              {% endfor %}  ]

              $( "#recherche_user_recherche" ).autocomplete({
                source: availableTags
              });
            } );
            </script>
            {% endblock searchUser %}
