{% extends "base.html.twig" %}

{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- -->
      </div>
      <div class="col-md-6">

        {{ form_start(formPost) }}
        {{ form_widget(formPost) }}
        <input type="submit" value="Create" />
        {{ form_end(formPost) }}

        {% for actualite in actualites %}
        {% if app.user.id == actualite.envoieFriend.id %}
        {% for fil in actualite.receptionFriend.statut %}

        <br><br><br>
        <article>
          <a href="{{ path('fos_user_profile_show', {'id': fil.user.id, 'user': fil.user })}}">

            {% if fil.user.imageName is empty %}
            <img src="{{ asset('images/user_icon_default_social.jpg/') }}" alt="" class="avatarUser" />
            {% else %}
            <img src="{{ asset('images/UserProfile/')~ fil.user.imageName }}" alt="" class="avatarUser" />
            {% endif %}

            {{ fil.user }} </a>
            <br>
            {{ fil.statut }}
            <br>

            {% if fil.imageName is empty %}
            {% else %}
            <img src="{{ asset('images/UserPost/')~ fil.imageName }}" alt="" class="img-responsive" />
            {% endif %}
            <br>

            {% for like in fil.like %}
            {% if app.user.id == like.id  %}
            <a href="{{path('post_like_new', {'id':fil.id}  )}}">J'aime plus </a> {{ fil.like|length }}
            {% endif %}
            {% endfor %}

            {% for like in fil.like if app.user.id == like.id %}
            {% else %}
            <a href="{{path('post_like_new', {'id':fil.id}  )}}">J'aime</a>  {{ fil.like|length }}
            {% endfor %}

            <a href="{{ path('post_show', { 'id': fil.id }) }}">Commenter</a>

          </article>

          {% endfor %}
          {% endif %}
          {% endfor %}


          {% for statut in posts %}
          <br><br><br>
          <article>
            <a href="{{ path('fos_user_profile_show', {'id': statut.id, 'user': statut.user })}}">

              {% if statut.user.imageName is empty %}
              {% else %}
              <img src="{{ asset('images/UserProfile/')~ statut.user.imageName }}" alt="" class="avatarUser" />
              {% endif %}

              {{ statut.user }} </a>
              <br>
              {{ statut.statut }}
              <br>
              {% if statut.imageName is empty %}
              {% else %}
              <img src="{{ asset('images/UserPost/')~ statut.imageName }}" alt="" class="img-responsive" />
              {% endif %}

              <br>

              {% for like in statut.like %}
              {% if app.user.id == like.id  %}
              <a href="{{path('post_like_new', {'id':statut.id}  )}}">J'aime plus </a> {{ statut.like|length }}
              {% endif %}
              {% endfor %}

              {% for like in statut.like if app.user.id == like.id %}
              {% else %}
              <a href="{{path('post_like_new', {'id':statut.id}  )}}">J'aime</a>  {{ statut.like|length }}
              {% endfor %}


              <a href="{{ path('post_show', { 'id': statut.id }) }}">Commenter</a>

            </article>
            {% endfor %}



          </div>
          <div class="col-md-3">
            <!-- -->
          </div>
        </div>
      </div>
    </section>

    {% else %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">

          </div>

          <div class="col-md-6">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
          </div>

        </div>
      </div>
    </section>
    {% endif %}

  {% endblock body %}
